<div class="container">
    <div class="d-flex justify-content-center pb-5">
        <pagination-controls
            (pageChange)="onPage($event)" previousLabel="Vissza"
            nextLabel="Tovább">
        </pagination-controls>
    </div>
    <app-loader></app-loader>
    <div class="row" *ngIf="movie">
        <div class="col-4" *ngFor="let item of movie | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalRecords }">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ item.posterUrl }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ item.title }}</h5>
                </div>
                <div class="card-body text-center">
                    <p-button label="Megtekintés" icon="pi pi-eye" iconPos="left" (click)="show(item.relations.tmdb.uniqueId)"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <pagination-controls
            (pageChange)="onPage($event)" previousLabel="Vissza"
            nextLabel="Tovább">
        </pagination-controls>
    </div>
</div>
