<p-table [value]="movie" [paginator]="true" [rows]="rows" [lazy]="true"
         [showCurrentPageReport]="true" [totalRecords]="totalRecords" (onPage)="onPage($event)"
         responsiveLayout="scroll" selectionMode="single"
         currentPageReportTemplate="Összesen: {totalRecords} elem || ({totalPages} / {currentPage})" dataKey="id"
         [loading]="isLoading">
    <ng-template pTemplate="header">
        <tr>
            <th>TMDB ID</th>
            <th>Cím</th>
            <th>Kiadás dátuma</th>
            <th>Létrehozás dátuma</th>
            <th>Akciók</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
        <tr [pSelectableRow]="movie">
            <td>{{ movie.relations.tmdb.uniqueId }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.releaseDate }}</td>
            <td>{{ movie.createdAt }}</td>
            <td>
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-secondary p-button-text" (click)="show(movie.relations.tmdb.uniqueId)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
