<div *ngIf="movie" class="card">
    <div class="card-header">
        {{ movie.title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ movie.overview }}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {{ movie.id }}</li>
            <li class="list-group-item">Eredeti cím: {{ movie.original_title }}</li>
            <li class="list-group-item">Eredeti nyelv: {{ movie.original_language }}</li>
            <li class="list-group-item">Felnőtt kategória: {{ movie.adult ? 'Igen' : 'Nem' }}</li>
            <li class="list-group-item">Népszerűség: {{ movie.popularity }}</li>
            <li class="list-group-item">Kiadás dátuma: {{ movie.release_date }}</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-3">Értékelés:</div>
                    <div class="col">
                        <p-rating [(ngModel)]="vote" [readonly]="true" [cancel]="false" [stars]="10"></p-rating>
                    </div>
                </div>
            </li>
            <li class="list-group-item">Értékelések száma: {{ movie.vote_count }} db</li>
            <li class="list-group-item">Státusz: {{ movie.status }}</li>
            <li class="list-group-item">Kategóriák: {{ getCategories(movie.genres)}}</li>
        </ul>
    </div>
</div>
<app-loader></app-loader>
